
header{
    position: relative;
    height: 200px;
    background-color: cornflowerblue;
    background-image: url(../img/sfondo.png)
}

#logo{
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1{
    font-size: 50px;
}

h3{
    color: grey;
}

#author{
    color: blue;
}

.yellow{
    background-color: yellow;
}

.background-blue{
    background-color: deepskyblue;
}

.title{
    color: white;
    text-align: center;
}
#first-photo{
    background-image: url(../img/graph.jpg);
    height: 150px;
    background-repeat: no-repeat;
}

#second-photo{
    background-image: url(../img/monitor.jpg);
    height: 150px;
    background-repeat: no-repeat;
}