*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    position: relative;
    height: 200px;
    background-color: cornflowerblue;
    background-image: url(../img/sfondo.png)
}

#logo{
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1{
    font-size: 50px;
}

h3{
    color: grey;
}

#author{
    color: blue;
}

.yellow{
    background-color: yellow;
}

